In [1]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine, text
import getpass  # To get the password without showing the input
password = getpass.getpass()

 ········

In this lab, the objective is to identify the customers who were active in both May and June, and how did their activity differ between months. To achieve this, follow these steps:

1. Establish a connection between Python and the Sakila database.

In [2]:
sakila = "sakila"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+ sakila
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

2. Write a Python function called rentals_month that retrieves rental data for a given month and year (passed as parameters) from the Sakila database as a Pandas DataFrame. The function should take in three parameters:

    - engine: an object representing the database connection engine to be used to establish a connection to the Sakila database.
    - month: an integer representing the month for which rental data is to be retrieved.
    - year: an integer representing the year for which rental data is to be retrieved.
      
The function should execute a SQL query to retrieve the rental data for the specified month and year from the rental table in the Sakila database, and return it as a pandas DataFrame.

In [11]:
# 2.
def rentals_month(engine, month, year):
        with engine.connect() as connection:
            txt = f"""SELECT rental_date
                        FROM rental
                        WHERE month(rental_date) = {month} and year(rental_date) = {year};"""
            query = text(txt)
            result = connection.execute(query)
            return pd.DataFrame(result.all())

In [12]:
rentals_month(engine,5,2005)

             rental_date
0    2005-05-24 22:53:30
1    2005-05-24 22:54:33
2    2005-05-24 23:03:39
3    2005-05-24 23:04:41
4    2005-05-24 23:05:21
...                  ...
1151 2005-05-31 21:36:44
1152 2005-05-31 21:42:09
1153 2005-05-31 22:17:11
1154 2005-05-31 22:37:34
1155 2005-05-31 22:47:45

[1156 rows x 1 columns]

3. Develop a Python function called rental_count_month that takes the DataFrame provided by rentals_month as input along with the month and year and returns a new DataFrame containing the number of rentals made by each customer_id during the selected month and year.

The function should also include the month and year as parameters and use them to name the new column according to the month and year, for example, if the input month is 05 and the year is 2005, the column name should be "rentals_05_2005".

    Hint: Consider making use of pandas groupby()

In [15]:
# 3.
def rental_count_month(month, year):
        with engine.connect() as connection:
            txt = f"""SELECT customer_id, count(rental_id), rental_date
                        FROM rental
                        WHERE month(rental_date) = {month} and year(rental_date) = {year}
                        GROUP BY customer_id;
                        """
            query = text(txt)
            result = connection.execute(query)
            return pd.DataFrame(result.all())

In [17]:
rental_count_month(5,2005)

OperationalError: (pymysql.err.OperationalError) (1055, "Expression #3 of SELECT list is not in GROUP BY clause and contains nonaggregated column 'sakila.rental.rental_date' which is not functionally dependent on columns in GROUP BY clause; this is incompatible with sql_mode=only_full_group_by")
[SQL: SELECT customer_id, count(rental_id), rental_date
                        FROM rental
                        WHERE month(rental_date) = 5 and year(rental_date) = 2005
                        GROUP BY customer_id;
                        ]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

4. Create a Python function called compare_rentals that takes two DataFrames as input containing the number of rentals made by each customer in different months and years. The function should return a combined DataFrame with a new 'difference' column, which is the difference between the number of rentals in the two months.